*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-nav{
    width:100%;
    height: 80px;
    background-color: #9377B6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-right: 50px;
    font-weight: 900;
    font-size: 18px;
}

.main-nav input{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #744EA5;
    box-shadow: inset 0 0 2px #000000;
}

.main-nav i, span {
    position: absolute;
    color: white;
}

.main-nav i{
    left: 1000px;
}

.main-nav span{
    left: 1030px;
    margin-top: 2px;
}

.nav-links .tag{
    position: absolute;
    left: 490px;
    margin-top:-16px;
    background-color: #DC0918;
    padding: 0 5px 0 5px;
    border-radius: 20px;
    font-size: 12px;
}

.main-nav h1{
    margin-left: 20px
}

